streamlit>=1.44.0
pandas>=2.2.3
numpy>=2.2.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
sentence-transformers==2.2.2
transformers==4.30.0
faiss-cpu>=1.10.0
