pandas
langchain_community
numpy==1.26.0
requests
beautifulsoup4
PyPDF2
nltk
openpyxl
faiss-cpu
transformers
sentence-transformers==3.4.1
torch>=1.11.0
streamlit
requests
beautifulsoup4
PyPDF2
nltk
openpyxl
faiss-cpu
transformers
sentence-transformers
torch>=1.11.0
streamlit
